*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
    text-decoration: none;
    list-style: none;
    scroll-behavior: smooth;
}

:root{
    --bg-color: #ececec;
    --second-bg-color: #ffffff;
    --text-color: rgb(94, 3, 29);
    --second-color: rgb(0, 0, 0);
    --main-color: #f38282;
    --big-font: 5rem;
    --h2-font: 3rem;
    --p-font: 1.1rem;
    --p-small-font: 0.9rem;
}

body::-webkit-scrollbar {
	width: 12px;
}

body::-webkit-scrollbar-thumb {
	border-radius: 10px;
	background-color: var(--main-color);
}

body{
    background: var(--bg-color);
    color: var(--text-color);
}

header{
    position: fixed;
    width: 100%;
    top: 0;
    right: 0;
    z-index: 1000;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background: transparent;
    padding: 22px 15%;
    border-bottom: 1px solid transparent;
    transition: all .45s ease; 
}

.logo{
    color: var(--text-color);
    font-size: 35px;
    font-weight: 700;
    letter-spacing: 1px;
}

span{
    color: var(--main-color);
}

.navlist{
    display: flex;
}

.navlist a{
    color: var(--second-color);
    font-size: 17px;
    font-weight: 500;
    margin: 0 25px;
    transition: all .45s ease;
}

.navlist a:hover{
    color: var(--main-color);
}

.navlist a.active{
    color: var(--main-color);
}

#menu-icon{
    font-size: 35px;
    color: var(--text-color);
    z-index: 10001;
    cursor: pointer;
    margin-left: 25px;
    display: none;
}

section{
    padding: 160px 15% 120px;
}

.home{
    position: relative;
    height: 100vh;
    width: 100%;
    background-image: url(../img/background.jpg);
    background-size: cover;
    background-position: center;
    display: flex;
    align-items: center;
    justify-content: flex-start;
}

.slide{
    margin-bottom: 20px;
}

.one{
    display: inline-block;
    margin-right: 15px;
    height: 32px;
    padding: 0 15px;
    line-height: 32px;
    font-size: 20px;
    font-weight: 500;
    border-radius: 5px;
    background: var(--main-color);
    color: var(--text-color);
}

.two{
    display: inline-block;
    color: var(--second-color);
    font-size: 20px;
    font-weight: 500;
}

.home-text h1{
    font-size: var(--big-font);
    font-weight: 700;
    color: var(--text-color);
    line-height: 1.1;
    margin: 0 0 8px;
}

.home-text h3{
    color: var(--text-color);
    margin: 0 0 35px;
    font-size: 3rem;
    font-weight: 700;
    line-height: 1.3;
}

.home-text p{
    color: var(--second-color);
    font-size: var(--p-font);
    margin-bottom: 10px;
    display: flex;
    align-items: center;
}

.link{
    color: rgb(0, 0, 0);
    transition: .5s;
}

.link:hover{
    transition: .5s;
    color: #f38282;
}

.button{
    display: inline-flex;
    align-items: center;
    justify-content: center;
    margin-top: 40px;
}

.btn{
    display: inline-block;
    padding: 12px 28px;
    background-color: var(--main-color);
    border-radius: 5px;
    color: var(--text-color);
    font-size: 1rem;
    letter-spacing: 1px;
    font-weight: 600;
    transition: all .45s ease;
}

.btn:hover{
    transform: scale(0.9);
}

.btn2{
    display: inline-flex;
    align-items: center;
    justify-content: center;
    font-size: 15px;
    font-weight: 600;
    color: var(--text-color);
    margin-left: 35px;
}

.btn2 span i{
    height: 55px;
    width: 55px;
    background: var(--main-color);
    color: var(--text-color);
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 35px;
    border-radius: 50%;
    margin-right: 15px;
    transition: all .45s ease;
}

.btn2 span i:hover{
    transform: scale(0.9);
}

.socials{
    display: flex;
    align-items: center;
    justify-content: left;
    margin-top: 5em;
}

.btn-socials{
    display: inline-flex;
    align-items: center;
    justify-content: center;
    font-size: 15px;
    font-weight: 600;
    color: var(--text-color);
    margin-right: 15px;
}

.btn-socials:nth-child(6){
    margin-right: 0px;
}

.btn-socials span i{
    height: 55px;
    width: 55px;
    background: var(--main-color);
    color: var(--text-color);
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 35px;
    border-radius: 50%;
    transition: all .45s ease;
}

.btn-socials span i:hover{
    transform: scale(0.9);
}

header.sticky{
    background: var(--bg-color);
    border-bottom: 1px solid #ffffff1a;
    padding: 12px 15%;
    height: 10vh;
}

.about{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    align-items: center;
    gap: 1.5rem;
}

.about-img img{
    max-width: 430px;
    height: 430px;
    width: 100%;
    border-radius: 10px;
    box-shadow: var(--main-color) 0px 2px 5px -1px, rgba(0, 0, 0, 0.3) 0px 1px 3px -1px;
}

.about-text h2 {
    font-size: var(--h2-font);
    line-height: 1;
}

.about-text h4 {
    font-size: 24px;
    font-weight: 600;
    color: var(--text-color);
    line-height: 1.7;
    margin: 15px 0 30px;
}

.about-text p {
    font-size: var(--p-font);
    color: var(--second-color);
    line-height: 1.8;
    margin-bottom: 0.5rem;
}

.services{
    background: var(--second-bg-color);
}

.main-text{
    text-align: center;
}

.main-text p{
    color: var(--second-color);
    font-size: 15px;
    margin-bottom: 15px;
}

.main-text h2{
    font-size: var(--h2-font);
    line-height: 1;
}

.services-content{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, auto));
    align-items: center;
    gap: 2.5rem;
    margin-top: 5rem;
}

.box{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    min-width: 300px;
    max-height: 300px;
    min-height: 200px;
    text-align: center;
    background: var(--bg-color);
    padding: 35px 45px;
    border-radius: 8px;
    transition: all .45s ease;
}

.s-icons i{
    font-size: 36px;
}

.box h3{
    font-size: 22px;
    font-weight: 600;
    color: var(--text-color);
}

.box:hover{
    transform: translateY(-8px);
}

.portfolio-content{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, auto));
    align-items: center;
    gap: 2.5rem;
    margin-top: 5rem;
}

.row{
    position: relative;
    overflow: hidden;
    border-radius: 10px;
    cursor: pointer;
}

.row img{
    max-width: 350px;
    min-width: 100%;
    min-height: 375px;
    max-height: 375px;
    border-radius: 10px;
    display: block;
    transition: transform 0.5s;
}

.layer{
    width: 100%;
    height: 0%;
    background: var(--main-color);
    position: absolute;
    border-radius: 10px;
    left: 0;
    bottom: 0;
    overflow: hidden;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    text-align: center;
    padding: 0 40px;
    transition: height 0.5s;
}

.layer h5{
    font-size: 20px;
    font-weight: 600;
    margin-bottom: 15px;
}

.layer p{
    color: var(--second-color);
    font-size: var(--p-small-font);
    line-height: 1.8;
}

.layer i{
    color: var(--main-color);
    margin-top: 20px;
    font-size: 20px;
    background: var(--text-color);
    width: 60px;
    height: 60px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
}

.row:hover img{
    transform: scale(1.1);
}

.row:hover .layer{
    height: 100%;
}

.end{
    letter-spacing: 1px;
    text-align: center;
    padding: 20px 15%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: 2rem;
    background-color: var(--bg-color);
}

.last-text p{
    color: var(--second-color);
    font-size: var(--p-font)
}

#top{
    position: fixed;
    bottom: 0;
    padding: auto;
    margin: 5rem;
}

#top.hide-top{
    display: none;
}

#top.show-top{
    display: block;
}

#top i{
    padding: 10px;
    border-radius: 8px;
    font-size: 28px;
    color: var(--text-color);
    background: var(--main-color);
}

.experience{
    background-color: var(--second-bg-color);
}

.timeline{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.container{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 3rem 0;
}

.container img{
    width: 120px;
    height: 120px;
    border-radius: 50%;
    top: 32px;
    margin: 2rem;
}

.text-box{
    padding: 20px 20px;
    background: var(--bg-color);
    border-radius: 10px;
    color: var(--text-color);
    width: 60vw;
}

.text-box h5{
    font-size: 20px;
    font-weight: 600;
    margin-bottom: 15px;
}

.text-box small{
    font-size: 14px;
    font-weight: 800;
}

.text-box p{
    letter-spacing: 1px;
    line-height: 1.8;
    font-size: var(--p-font);
    margin: 1rem 0;
}

@media (max-width: 1480px){
    header{
        padding: 12px 2.5%;
        transition: .1s;
    }

    header.sticky{
        padding: 10px 2.5%;
        transition: .1s;
    }

    section{
        padding: 110px 3% 60px;
    }
    .end{
        padding: 15px 3%;
    }
}

@media (max-width: 1100px){
    :root{
        --big-font: 4rem;
        --h2-font: 2rem;
        --p-font: 0.9rem;
        transition: .1s;
    }

    .home-text h3{
        font-size: 1.6rem;
    }

    .home{
        height: 87vh;
    }

    .about-text h4{
        font-size: var(--p-small-font)
    }
}

@media (max-width: 920px){

    .about{
        grid-template-columns: 1fr;   
    }

    .about-img{
        display: none;
    }

    .about-text{
        text-align: center;
    }
}

@media (max-width: 800px){

    #menu-icon{
        display: block;
    }

    .navlist{
        position: absolute;
        top: -1000px;
        right: 0;
        left: 0;
        height: 90vh;
        display: flex;
        flex-direction: column;
        background: var(--bg-color);
        text-align: center;
        justify-content: center;
        transition: all .45s ease;
    }

    .navlist a{
        display: block;
        margin: 17px;
        font-size: 20px;
        transition: all .45s ease;
        color: var(--text-color);
    }

    .navlist a:hover{
        color: var(--main-color);
    }

    .navlist.open{
        top: 100%
    }

    .home{
        position: relative;
        height: 87vh;
        width: 100%;
        background-image: url(../img/background.jpg);
        background-size: cover;
        background-position: center;
        display: flex;
        align-items: center;
        justify-content: center;
        text-align: center;
    }

    .btn{
        font-size: 0.7rem;
    }

    .socials{
        display: flex;
        align-items: center;
        justify-content: space-around;
        padding: 0;
        margin:0;
    }

    .text-box{
        width: 100%;
    }

    .container img{
        display: none;
    }

    .home{
        height: 100vh;
    }

    #top{
        position: fixed;
        bottom: 0;
        padding: auto;
        margin: 0 0 5em 1rem;
    }

    .home-text p{
        color: var(--second-color);
        font-size: var(--p-font);
        margin-bottom: 10px;
        display: flex;
        align-items: center;
        justify-content: center;
    }
    
    .link{
        color: rgb(0, 0, 0);
        transition: .5s;
    }
    
    .link:hover{
        transition: .5s;
        color: #e4ab32;
    }
}
